body {
    background-color:lightgray;
 }
 /* background: #04091e;
    opacity: 0.7;*/
   p {
   color:Green; font-size: 20px;
    }.button {
   padding: 10px 15px;
   font-size: 15px;
   text-align: center;
   cursor: pointer;
   outline: none;
   color: #fff;
   background-color: #04AA6D;
   border: none;
   border-radius: 15px;
   box-shadow: 0 9px #999;
 }
 
 .button:hover {background-color: #3e8e41}
 
 .button:active {
   background-color: #3e8e41;
   box-shadow: 0 5px #666;
   transform: translateY(4px);
 }

 .leading-none {
    line-height: 2;
}
.sm\:w-auto {
    width: fit-content;
}
input {
    margin-left:0%;
}
#phone{
    display: inline !important;
}
.price{
    width: 40px;
}