{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'det.css' %}" />
    <link rel="stylesheet" href="{% static 'about.css' %}" />
</head>

<body>
    <header class="text-gray-600 body-font">
        <div class="container flex flex-wrap px-5 flex-col md:flex-row items-center">
            
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/">
                <img src="{% static '1.png' %}" width="60px" height="60px" alt="">
                <span class="ml-3" style="font-size: 2em;">Calicut Airport</span>
            </a>
            <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                <a class="mr-5 hover:text-gray-900" href="/">Home</a>
                <a class="mr-5 hover:text-gray-900" href="/about">About</a>
                <a class="mr-5 hover:text-gray-900" href="/rules">Rules</a>
                <a class="mr-5 hover:text-gray-900" href="/faq">FAQ</a>
                <a class="mr-5 hover:text-gray-900" href="/map">Map</a>
            </nav>
        </div>
    </header>

    <br /><br />
    <h1 style="font-size: 60px; color: dodgerblue" class="about">About</h1>
    <p class="text-lg font-light leading-relaxed mt-6 mb-4 text-black">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cochin International Airport is the first greenfield airport in the
        country built with a public-private partnership. Planned and constructed
        from scratch, the airport has been acclaimed for setting a novel idea in
        infrastructure development. <br><br>&nbsp;&nbsp;&nbsp;&nbsp; astonishing public participation,
        relentless support from NRIs, and effective leadership have made CIAL, the
        company that built and operates the airport, an international brand. It's
        also the first airport in the world fully powered by solar energy.<br><br>&nbsp;&nbsp;&nbsp;&nbsp;
        Mr.V.J.Kurian IAS is the founder managing director of the company and the
        project itself is his brainchild. With the guidance and patronage of Late
        Mr.K.Karunakaran, former Chief Minister of Kerala, Mr.Kurian could
        materialize a never before the idea of building an international airport
        with a public-private partnership. He was responsible for the entire
        project from conception to making the company a runaway success. The
        company showcases a sustainable business model which always adheres to
        people, community, and culture.<br><br>&nbsp;&nbsp;&nbsp;&nbsp; The balance sheet also is sound as the
        profit ratio exceeds 35%. The paid-up capital of the company is Rs.382.57
        Cr with over 19,000 shareholders from 31 countries. Over the years, the
        company accrued gross assets worth Rs. 2455.64 Cr. which includes three
        sprawling terminals having two million SFT of the area and offering state
        of the art passenger facilities, a convention centre, a golf course, and
        an aircraft maintenance hangar. The company has been paying dividends from
        2003-04 and with the year 2019-20, the total dividend pay-out has touched
        282%. The company has been paying dividends from 2003-04 and with the year
        2019-20, the total dividend pay-out has touched 282%.<br><br>&nbsp;&nbsp;&nbsp;&nbsp; Ever since
        commercial operations started on 10th June 1999 with the International
        flight to Dammam., CIAL, has grown rapidly becoming the 4th largest
        International Airport in India in terms of international passenger traffic
        in just four years. CIAL recorded a cumulative annual growth rate of
        nearly 20% in the initial 8 years and thereafter at 12% with annual
        passenger traffic touching 7.7 million in 2015-16. The airport handled 8.9
        million passengers during 2016-17 and the weekly aircraft movements stand
        around 1200. For the first time in its history, the passenger volume for a
        single financial year (2017-18) touched 10 million on 28th March 2018.
        Since then, the airport has been handling around 10M passengers a
        year.<br><br>&nbsp;&nbsp;&nbsp;&nbsp;CIAL is the World’s first airport fully powered by solar energy. The
        eco-friendly initiative of CIAL won international accolades including “
        The Champions of the Earth Award-2018 “ from the United Nations. At
        present, the total installed capacity of solar power plants at CIAL is
        40MWpThere are 24 airline companies operate from the airport today, which
        facilitates direct connectivities to GCC, Sri Lanka, Singapore, Thailand,
        and Malaysia. The MRO facility by CIASL, a fully owned subsidiary of CIAL,
        has obtained certifications from DGCA,-India, GCAA-UAE; SLCAA-Sri Lanka
        and is providing engineering services to Sri Lankan Airlines, Etihad, Gulf
        Air, etc. <br><br>&nbsp;&nbsp;&nbsp;&nbsp;After Serving CIAL for nearly two decades in three stints,
        Sri.V.J.Kurian stepped down as MD on 09th June 2021. Sri.S.Suhas IAS,
        District Collector, Ernakulam assumed the additional charge of the
        Managing Director, CIAL on that day.
    </p>
    <br /><br /><br /><br /><br /><br /><br /><br />

    <footer class="text-gray-600 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                <img src="{% static '1.png' %}" width="60px" height="60px" alt="">
                <span class="ml-3 text-xl">Airport</span>
            </a>
            <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">©
                2020
                Group-6 —
                <a href="https://twitter.com/knyttneve" class="text-gray-600 ml-1" rel="noopener noreferrer"
                    target="_blank">@farookcollege</a>
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                <a class="text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path
                            d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                        </path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-500">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-500">
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                        <path stroke="none"
                            d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                        </path>
                        <circle cx="4" cy="4" r="2" stroke="none"></circle>
                    </svg>
                </a>
            </span>
        </div>
    </footer>
</body>

</html>