{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'det.css' %}">
    <style>
        .rules, #gg{
  padding-left: 40px;

        }
        #gg h1{
            padding: 10px;
            font-size: larger;
            font-weight: 500;
        }
    </style>
</head>

<body>
    <header class="text-gray-600 body-font">
        <div class="container flex flex-wrap px-5 flex-col md:flex-row items-center">
            
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/">
                <img src="{% static '1.png' %}" width="60px" height="60px" alt="">
                <span class="ml-3" style="font-size: 2em;">Calicut Airport</span>
            </a>
            <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                <a class="mr-5 hover:text-gray-900" href="/">Home</a>
                <a class="mr-5 hover:text-gray-900" href="/about">About</a>
                <a class="mr-5 hover:text-gray-900" href="/rules">Rules</a>
                <a class="mr-5 hover:text-gray-900" href="/faq">FAQ</a>
                <a class="mr-5 hover:text-gray-900" href="/map">Map</a>
            </nav>
        </div>
    </header>
    <h1 style="font-size:60px; color:dodgerblue" class="rules">Freaquntly asked Questions</h1><br /><br /><br />
    <div style="margin: 0in 0in 0pt" id="gg">
        <div>
        <h1> The Quarantine Regulations For Arriving Domestic Passengers?</h1>
        <p>
            14 days of home quarantine for asymptomatic passengers. The passengers found to be symptomatic during
            screening shall be
            immediately isolated and taken to medical facility as per health protocol.

            Please refer to the following link for details

            https://www.mohfw.gov.in/pdf/Guidelinesfordomestictravel(airortrainorinter-statebustravel).pdf

            https://www.goindigo.in/information/state-regulations.html
        </p>
    </div>
    <div>
        <h1>Procedures To Be Followed For Domestic Departure ?</h1>
        <p>

            Passengers who are found asymptomatic on screening only will be allowed to travel. Passenger should have
            Aarogya Setu
            app on their Mobile phone, only ‘green’ status will be allowed to enter the airport. Self-declaration form
            to be
            submitted

            Please refer to the following link for further details

            https://www.mohfw.gov.in/pdf/Guidelinesfordomestictravel(airortrainorinter-statebustravel).pdf

            https://www.goindigo.in/information/state-regulations.html

            http://www.airindia.in/Domestic-Flight-Booking.htm

        </p>
    </div>
    <div>
        <h1>
            What Are The Guidelines For Travelling To UAE (Dubai, Sharjah And Abu Dhabi)?
        </h1>
        <p>
            Currently only the following category of passengers are permitted to travel to UAE:

            (i) UAE Nationals

            (ii) Resident Permit holder having a stamped RP in the passport returning to UAE only.

            (iii) Indian National with a valid Visa of UAE and travelling to UAE only.

            All residence visa holders returning to Sharjah and Abu Dhabi must get a return approval from ICA. If you
            hold a Dubai
            residence visa and you are flying back to Dubai, you must have return approval from the GDRFA.

            Passengers are required to take a COVID-19 PCR test not more than 96 hours before departure. For all
            passengers 12 years
            old and above, a valid Negative COVID – 19 PCR test report in the printed form, from a government-approved
            laboratory in
            India (ICMR) or a certified designated laboratory which is available on screening.purehealth.ae website is
            required.

            Please refer to the following links

            https://www.civilaviation.gov.in/sites/default/files/Travel_Guidelines_I...

            https://boi.gov.in/content/advisory-travel-and-visa-restrictions-related...

            https://www.goindigo.in/information/international-travel-guidelines.html...

            https://www.airindiaexpress.in/en/faqs/covid-19-travel-faqs

            http://blog.airindiaexpress.in/india-uae-travel-update/

        </p>
    </div>
    <div>
        <h1>
            What Are The Guidelines For Travelling To Qatar (Doha Only)?
        </h1>
        <p>Only Permanent Residency Holders of Qatar can travel effective 01st August, 2020 after obtaining an
            Exceptional Entry
            Permit to Return from Qatar Government Portal, the link provided below:

            https://portal.www.gov.qa/wps/portal/qsports/services/servicetDetail/exc...

            Passengers are required to present a negative COVID-19 RT-PCR test result carried out and issued within 96
            hours prior
            to the flight departure.

            Please refer to the following link for more details.

            https://www.civilaviation.gov.in/sites/default/files/Travel_Guidelines_I...

            https://boi.gov.in/content/advisory-travel-and-visa-restrictions-related...

            https://www.goindigo.in/information/international-travel-guidelines/flig...

            http://blog.airindiaexpress.in/coronavirus-covid-19-travel-update/

        </p>
    </div>
    <div>
        <h1>
            What Are The Procedures For International Arriving Passengers?
        </h1>
        <p>
            Air Suvidha self-declaration(www.newdelhiairport.in) form to be mandatorily filled by all International
            arriving
            passengers at least 72 hours before the scheduled travel. Only asymptomatic travelers will be allowed to
            board after
            thermal screening.

            Thermal screening would be carried out in respect of all the passengers by the Health officials present at
            the Airport.
            The self-declaration form filled online shall be shown (or a copy of physical self-declaration form to be
            submitted) to
            the Airport health staff.

            Please refer to the following website for more details:

            https://www.mohfw.gov.in/pdf/RevisedguidelinesforInternationalArrivals02...

            http://blog.airindiaexpress.in/wp-content/uploads/2020/06/NORKA.pdf

            https://boi.gov.in/content/advisory-travel-and-visa-restrictions-related....

            https://www.goindigo.in/information/state-regulations.html

            https://www.goindigo.in/information/international-travel-guidelines/flig...


        </p>
    </div>
    <div>
        <h1>
            What Are The Quarantine Regulations For International Arriving Passengers?
        </h1>
        <p>14 days of home quarantine for asymptomatic passengers. The passengers found to be symptomatic during
            screening shall be
            immediately isolated and taken to medical facility as per health protocol.

            Please refer to the following website for more details:

            https://www.civilaviation.gov.in/sites/default/files/State_wise_quaranti...


        </p>
    </div>
    <div>
        <h1>
            What Are The Procedures For Domestic Arriving Passengers?
        </h1>
        <p>
            All passengers should submit self-declaration forms on arrival.

            Please refer to the following links:

            https://www.mohfw.gov.in/pdf/Guidelinesfordomestictravel(airortrainorinter-statebustravel).pdf

            https://www.goindigo.in/information/state-regulations.html
        </p>
    </div>
    </div>
    <footer class="text-gray-600 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                <img src="{% static '1.png' %}" width="60px" height="60px" alt="">
                <span class="ml-3 text-xl">Airport</span>
            </a>
            <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">©
                2020
                Group-6 —
                <a href="https://twitter.com/knyttneve" class="text-gray-600 ml-1" rel="noopener noreferrer"
                    target="_blank">@farookcollege</a>
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                <a class="text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path
                            d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                        </path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-500">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-500">
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                        <path stroke="none"
                            d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                        </path>
                        <circle cx="4" cy="4" r="2" stroke="none"></circle>
                    </svg>
                </a>
            </span>
        </div>
    </footer>
</body>

</html>