{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Details</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'det.js' %}"></script>
    <link rel="stylesheet" href="{% static 'det.css' %}">
</head>

<body>
    <header class="text-gray-600 body-font">
        <div class="container flex flex-wrap px-5 flex-col md:flex-row items-center">
            
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/">
                <img src="{% static '1.png' %}" width="60px" height="60px" alt="">
                <span class="ml-3" style="font-size: 2em;">Calicut Airport</span>
            </a>
            <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                <a class="mr-5 hover:text-gray-900" href="/">Home</a>
                <a class="mr-5 hover:text-gray-900" href="/about">About</a>
                <a class="mr-5 hover:text-gray-900" href="/rules">Rules</a>
                <a class="mr-5 hover:text-gray-900" href="/faq">FAQ</a>
                <a class="mr-5 hover:text-gray-900" href="/map">Map</a>
            </nav>
        </div>
    </header>
    <div class="flex mx-auto rounded mx-10 overflow-hidden mt-6" style="display: none;">
        <button class="py-1 px-4 bg-indigo-500 text-white focus:outline-none" id="from" onclick="c_from()">From</button>
        <button class="py-1 px-4 focus:outline-none" id="to" onclick="c_to()">To</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="py-1 px-4 focus:outline-none" style="pointer-events: none;">Calicut</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button class="py-1 px-4 focus:outline-none" style="pointer-events: none;" id="ctemp">To&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <input type="text" placeholder="  search..." class="w-40% bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">&nbsp;
        <button
            class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-indigo-500 rounded text-base mt-4 md:mt-0">
            <img src="{% static '2.png' %}" height="40" width="40" alt="">
        </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label for="cars"><button class="py-1 px-4 focus:outline-none" style="pointer-events: none;">Sort</button></label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <select name="cars" id="cars">
            <option value="volvo">Time</option>
            <option value="saab">Price</option>
            <option value="mercedes">Duration</option>
        </select>
    </div>
    <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 py-3 mx-auto">
            <div class="py-1 px-4 mb-5 flex flex-wrap md:flex-nowrap border-2">
                <div class="md:w-52 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                    <span class="font-semibold title-font text-gray-700">Airlines</span>
                </div>
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                    <span class="font-semibold title-font text-black">Departure</span>
                </div>
                <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                    <span class="font-semibold title-font text-black">Arrival</span>
                </div>
                <div class="md:w-48 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                    <span class="font-semibold title-font text-black">Duration</span>
                </div>
                <div class="md:w-20 md:mb-0 mb-6 ml-2 flex-shrink-0 flex flex-col">
                    &nbsp;
                </div>
                <div class="md:w-32 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                    <span class="font-semibold title-font text-black">Price</span>
                </div>
                <div class="md:w-28 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                
      </div>
                </div>
                {% for t, ft, tt, fd, td, d,f_pl,l_pl,c,isdelay,d1,d2,d3,d4,f in data %}
                <div class="mt-2 p-4 flex flex-wrap md:flex-nowrap border-2{% if c %} bg-slate-400{% endif %}">
                    <div class="md:w-52 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                        <span class="font-semibold title-font text-gray-700">{{ f.flight_name }}</span>
                        <a class="text-indigo-500 inline-flex text-xs items-center mt-2">Show Details
                        </a>
                    </div>
                    <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                        <span class="font-semibold title-font text-black">{{ ft }}&nbsp;&nbsp;<span class="mt-1 text-gray-500 text-sm">{{ fd }}</span></span>{% if isdelay %}<span class="font-semibold"><span class="text-sm text-red-700 line-through">{{ d1 }}</span>&nbsp;&nbsp;<span class="mt-1 text-red-600 text-xs line-through">{{ d2 }}</span></span>{% endif %}
                        <p class="leading-relaxed">({{ f.from_to }})</p>
                        <span class="mt-1 text-gray-500 text-sm">{{ f_pl }}</span>
                    </div>
                    <div class="md:w-60 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                        <span class="font-semibold title-font text-black">{{ tt }}&nbsp;&nbsp;<span class="mt-1 text-gray-500 text-sm">{{ td }}</span></span>{% if isdelay %}<span class="font-semibold"><span class="text-sm text-red-700 line-through">{{ d3 }}</span>&nbsp;&nbsp;<span class="mt-1 text-red-600 text-xs line-through">{{ d4 }}</span></span>{% endif %}
                        <p class="leading-relaxed">({{ f.to }})</p>
                        <span class="mt-1 text-gray-500 text-sm">{{ l_pl }}</span>
                    </div>
                    <div class="md:w-48 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                        <span class="font-semibold title-font text-black">{{ d }}</span>
                    </div>
                    {% if t %}
                    <div class="md:w-20 md:mb-0 mb-6 ml-2 flex-shrink-0 flex flex-col">
                        <div class="my-auto">
                        <p class="mb-4">Economy :</p>
                        <p>Business :</p></div>
                    </div>
                    <div class="md:w-32 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                       <div class="my-auto"> <p class="font-semibold mb-4 title-font text-black">₹{{ f.cost_e }}</p>
                        <p class="font-semibold title-font text-black">₹{{ f.cost_b }}</p></div>
                    </div>
                    {% endif %}
                    {% if c %}
                    <div class="md:w-28 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                        <span class="font-semibold title-font text-red-800">CANCELLED</span>
                    </div>
                    {% else %}
                    {% if t %}
                    <div class="md:w-28 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                       <a href="/flight/{{ f.pk }}/book"> <button type="button"
              class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none my-auto hover:bg-indigo-600 rounded text-lg">Book</button>
          </div>
          {% endif %}
          {% endif %}
                    </div>
                    {% endfor %}
            </div>
    </section>


    <footer class="text-gray-600 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                <img src="{% static '1.png' %}" width="60px" height="60px" alt="">
                <span class="ml-3 text-xl">Airport</span>
            </a>
            <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">©
                2020
                Group-6 —
                <a href="https://twitter.com/knyttneve" class="text-gray-600 ml-1" rel="noopener noreferrer"
                    target="_blank">@farookcollege</a>
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                <a class="text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path
                            d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                        </path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-500">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-500">
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                        <path stroke="none"
                            d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                        </path>
                        <circle cx="4" cy="4" r="2" stroke="none"></circle>
                    </svg>
                </a>
            </span>
        </div>
    </footer>
</body>

</html>