{% load static %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Airport Mnagement System</title>
<link rel="stylesheet" href="{% static 'index.css' %}">
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,600,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
</head>
<body>
    <section class="header">
        
        <nav>
            <a href="index.html"><img src="airline.jpg"></a>
            <div class="nav-links" id="navLinks">  
                <i class="fa fa-close" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="flight">FLIGHTS</a></li>
                    <li><a href="">RULES</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <div class="text-box">
            <br><br><h1>Making Your Flights Simpler.</h1><br><br>
            <a href="flight" class="hero-btn">Book Flights</a>
        </div>
    </section>
    

<script>
    var navLinks = document.getElementById("navLinks");

    function showMenu() {
        navLinks.style.right = "0";
    }

    function hideMenu() {
        navLinks.style.right = "-200px";
    }
</script> 
    
</body>
</html>







