{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <header class="text-gray-600 body-font">
        <div class="container flex flex-wrap px-5 flex-col md:flex-row items-center">
            <a href="/flight"><button style="height: 30px;width: 40px;"
            class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-indigo-500 rounded text-base mt-4 md:mt-0">
            <img src="{% static 'ar.svg' %}" alt="back">
            </button></a>
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/">
                <img src="{% static '1.png' %}" width="60px" height="60px" alt="">
            </a>
        </div>
    </header>
    <br><br><br><br><br><br><br>
    <h1 class="text-xl font-bold text-center">Payment Successful</h1>

</body>
</html>