{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'det.css' %}">
</head>

<body>
    <header class="text-gray-600 body-font">
        <div class="container flex flex-wrap px-5 flex-col md:flex-row items-center">
            
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/">
                <img src="{% static '1.png' %}" width="60px" height="60px" alt="">
                <span class="ml-3" style="font-size: 2em;">Calicut Airport</span>
            </a>
            <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                <a class="mr-5 hover:text-gray-900" href="/">Home</a>
                <a class="mr-5 hover:text-gray-900" href="/about">About</a>
                <a class="mr-5 hover:text-gray-900" href="/rules">Rules</a>
                <a class="mr-5 hover:text-gray-900" href="/faq">FAQ</a>
                <a class="mr-5 hover:text-gray-900" href="/map">Map</a>
            </nav>
        </div>
    </header>

    <br /><br />
    <h1 style="font-size:60px; color:dodgerblue" class="rules">Rules</h1><br /><br /><br />
    <div style="margin: 0in 0in 0pt"><br>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                data-preserver-spaces="true">&nbsp;</span><strong
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                    style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">Hand Luggage</span></strong><span
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                data-preserver-spaces="true">&nbsp;</span></p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                data-preserver-spaces="true">Passengers are requested to be patient while additional security measures
                are
                in place, allow extra time for their journey, and be prepared for possible delays.</span></p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                data-preserver-spaces="true">&nbsp;</span></p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><strong
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                    style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">How Many?</span></strong><span
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                data-preserver-spaces="true">&nbsp;</span></p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                data-preserver-spaces="true">Passengers are now permitted to carry more than one item of hand luggage
                through security. You will, however, need to check with your airline before arriving at the airport.
                Some
                airlines will only allow you to carry one item of hand baggage, and the weight and size allowances
                differ
                between airlines.</span></p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><strong
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                    style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">&nbsp;&nbsp;</span></strong></p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><strong
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                    style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">How Much?&nbsp;</span></strong></p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                data-preserver-spaces="true">Cabin baggage must not be bigger or disproportionate. The approved
                specifications are:&nbsp;</span></p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                data-preserver-spaces="true">&nbsp;</span></p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                data-preserver-spaces="true">&nbsp;</span></p>
        <ul style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;">
            <li
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;; list-style-type:disc">
                <span style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">55 centimeters length&nbsp;</span>
            </li>
            <li
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;; list-style-type:disc">
                <span style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">35 centimeters breadth&nbsp;</span>
            </li>
            <li
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;; list-style-type:disc">
                <span style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">25 centimeters Height&nbsp;&nbsp;</span>
            </li>
        </ul>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                data-preserver-spaces="true">Check with your airline as some have further restrictions on the size of
                bags.</span></p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                data-preserver-spaces="true">&nbsp;</span></p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><strong
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                    style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">What is allowed?</span></strong></p>
        <ul style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;">
            <li
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;; list-style-type:disc">
                <span style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">All items of luggage which do not fit in the permitted cabin baggage
                    size
                    must be checked in to be placed in the aircraft hold.&nbsp;</span>
            </li>
            <li
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;; list-style-type:disc">
                <span style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">Musical instruments which do not fit in the permitted cabin baggage
                    size
                    are allowed as a second item of cabin baggage; they will need to be screened and passengers should
                    check
                    with their airlines if special arrangements (e.g. purchasing an extra seat) for these large
                    instruments
                    will be required.&nbsp;</span>
            </li>
            <li
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;; list-style-type:disc">
                <span style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">Laptops will need to be removed from your bag and screened separately
                    in
                    the trays provided. A laptop bag will be regarded as an item that is allowed in the
                    cabin.&nbsp;</span>
            </li>
            <li
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;; list-style-type:disc">
                <span style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">Pushchairs, walking aids, and wheelchairs are permitted but will be
                    screened.&nbsp;</span>
            </li>
        </ul>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                data-preserver-spaces="true">&nbsp;</span></p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><strong
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                    style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">Liquids&nbsp;</span></strong></p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                data-preserver-spaces="true">Some liquids (e.g. gels, lotions, pastes, liquid cosmetics, foams, etc) are
                now
                allowed through airport security checkpoints. The following restrictions apply to the number of
                liquids:</span></p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                data-preserver-spaces="true">&nbsp;</span></p>
        <ul style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;">
            <li
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;; list-style-type:disc">
                <span style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">Liquids may only be carried in containers no greater than
                    100ml.&nbsp;</span>
            </li>
            <li
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;; list-style-type:disc">
                <span style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">These containers must be brought to the airport contained in a single,
                    transparent, resealable plastic bag, which itself must not exceed 1 litre in capacity(approximately
                    20cm
                    x 20cm). The contents of the plastic bag must fit comfortably and the bag must be
                    sealed.&nbsp;</span>
            </li>
            <li
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;; list-style-type:disc">
                <span style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">Each passenger may carry only one such bag having a liquid container.
                    The
                    bag must be presented for examination.&nbsp;</span>
            </li>
        </ul>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><strong
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                    style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">&nbsp;</span></strong></p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                data-preserver-spaces="true">Liquids that cannot be placed inside the re-sealable bag must be packed
                into
                the hold luggage and checked in. Liquids of any amount can still be carried in luggage checked into the
                aircraft hold.</span></p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                data-preserver-spaces="true">&nbsp;</span></p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                data-preserver-spaces="true">Please note the term ‘Liquids’ include:</span></p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                data-preserver-spaces="true">&nbsp;</span></p>
        <ul style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;">
            <li
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;; list-style-type:disc">
                <span style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">All drinks, including water, soup, syrups&nbsp;</span>
            </li>
            <li
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;; list-style-type:disc">
                <span style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">Creams, lotions, oils, perfumes, lip gloss or lip balms, mascara,
                    etc.&nbsp;</span>
            </li>
            <li
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;; list-style-type:disc">
                <span style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">Sprays and pressurized containers including shaving foam and spray
                    deodorants&nbsp;</span>
            </li>
            <li
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;; list-style-type:disc">
                <span style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">Pastes, including toothpaste&nbsp;</span>
            </li>
            <li
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;; list-style-type:disc">
                <span style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">Gels, including hair and shower gel&nbsp;</span>
            </li>
            <li
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;; list-style-type:disc">
                <span style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">Any other solutions and items of similar consistency&nbsp;</span>
            </li>
        </ul>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                data-preserver-spaces="true">&nbsp;</span></p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                data-preserver-spaces="true">Essential medicines are permitted in larger quantities above the 100ml
                limit
                but will be subject to authentication. Exceptions to the 100ml rule may also be made for those carrying
                baby
                food and milk, but you may be asked to taste the liquid when you go through security.</span></p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                data-preserver-spaces="true">&nbsp;</span></p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><strong
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                    style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">Duty-Free and Departure Lounge Purchases</span></strong><span
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                data-preserver-spaces="true">&nbsp;</span></p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                data-preserver-spaces="true">You may take onboard liquid items of any items that are purchased after
                security check in the departure lounge. Most duty-free items or similar purchases made after the
                security
                check will be given to you in a special sealed bag (Security Tamper Evident Bags - STEB)
                –&nbsp;</span><strong
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                    style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">do not open this bag&nbsp;</span></strong><span
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                data-preserver-spaces="true">until you have reached your final destination. You should also retain your
                proof of purchase throughout your journey as you may be required to show it at a transfer point.</span>
        </p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                data-preserver-spaces="true">&nbsp;</span></p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                data-preserver-spaces="true">These are the requirements set down by the Bureau of Civil Aviation
                Security.
                Airlines may have additional measures in place. Passengers are strongly advised to check the website of
                their carrier or airport before traveling.</span></p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><strong
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                    style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">&nbsp;</span></strong></p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><strong
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                    style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">Restricted Items&nbsp;</span></strong></p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><strong
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                    style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">&nbsp;</span></strong></p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                data-preserver-spaces="true">You should always check the exact hand luggage restrictions with your
                airline
                before packing. Widely restricted items include:&nbsp;</span></p>
        <p style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><strong
                style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;"><span
                    style="color: rgb(14, 16, 26); background: transparent; margin-top:0pt; margin-bottom:0pt;;"
                    data-preserver-spaces="true">&nbsp;</span></strong></p>
        <span style="color: rgb(138,159,45)"><span style="font-size: medium"><strong></strong></span></span>
    </div>


    <footer class="text-gray-600 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                <img src="{% static '1.png' %}" width="60px" height="60px" alt="">
                <span class="ml-3 text-xl">Airport</span>
            </a>
            <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">©
                2020
                Group-6 —
                <a href="https://twitter.com/knyttneve" class="text-gray-600 ml-1" rel="noopener noreferrer"
                    target="_blank">@farookcollege</a>
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                <a class="text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path
                            d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                        </path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-500">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-500">
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                        <path stroke="none"
                            d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                        </path>
                        <circle cx="4" cy="4" r="2" stroke="none"></circle>
                    </svg>
                </a>
            </span>
        </div>
    </footer>
</body>

</html>